.container {
  width: 100%;
}

.container h2 {
  font-size: 4rem;
}

.buttonListItem {
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	text-align: left;
}

.buttonListItem > div > span {
	display: none !important;
}

.listItem {
	width: 100% !important;
}

.listItem div > div > div:last-child {
	color: rgba(255, 255, 255, 0.5) !important;
}

.idle > div {
	background-color: transparent;

	transition: background-color 1s ease;
}

.idle span > div > div > div > div:nth-child(2) {
	color: white;
	transition: color 1s ease;
}

.iconMenu {
	width: 100%;
}

.noProjectsMessage {
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 16px;
}