.container {
  width: 100%;
}

.container h2 {
  font-size: 4rem;
}

.buttonListItem {
	width: 100% !important;
	height: auto !important;
	padding: 0 !important;
	text-align: left;
}

.buttonListItem > div > span {
	display: none !important;
}

.listItem {
	width: 100% !important;
}

.iconMenu {
	width: 100%;
}

.noProjectsMessage {
	padding: 20px 20%;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 16px;
}